@import url(variable.css);

*{
    padding: 0;
    margin: 0;
    box-shadow: 0;
}

.contenedor_dad{
    display: grid;
    border: 1px solid black;
    height: 98vh;
}
.contenedor_son{
    display: flex;
}
.contendor_info{ 
    display: flex;
    width: 30%;
    flex-direction: column;
}
.contenedor_list{
    display: flex;
    flex-direction: column;
}

.articles2{
    border: 5px solid rgb(102, 92, 92);
    height: 97vh;
}

.shoping0 h1{
    margin-left: 20px;
    font-size: 60px;
    color: rgb(2, 2, 2);
    font-family: "thin";
}
.shoping{
    border: 1px solid black;
    margin-top: 10px;
    height: 40px;
}

#abrigos{
    margin-top: 80px;
}
#number1{
    margin-top: 80px;
}
#number2{
    margin-top: 150px;
}
.shoping h1{
    color:  rgb(0, 0, 0);
    font-size: 20px;
    margin-left: 50px;
    margin-top: 10px;
    font-family: "thin";
}
.shoping img{
    position: relative;
    width: 30px;
    margin-top: 5px;
    margin-left: 5px;
}
.shoping1{
    border: 1px solid black;
    margin-top: 150px;
}
.shoping1 h1{
    color:  rgb(0, 0, 0);
    font-size: 20px;
    margin-left: 50px;
    margin-top: 4px;
    font-family: "thin";
}
.shoping1 img{
    position: relative;
    width: 30px;  
}
.cont_img1{
    display: flex;
    width: 70px;
    position: absolute;
}
.cont_img{
    display: flex;
    width: 70px;
    position: absolute;
    gap: 50px;
}












.contendor_info2{ 
    display: flex;
    /* background: rgb(0, 204, 51); */
    width: 80%;
    flex-direction: column;
}
.title{
    display: flex;
    height: 100px;
}
.title h1{
    color: rgb(0, 0, 0);
    font-family: "thin";
    margin-left: 50px;
}
.contenedor_products{
    display: flex;
    height: 50%;
    /* background: rgb(4, 238, 168); */
    gap: 10px;
}
.contenedor_products2{
    display: flex;
    height: 100%;
    gap: 10px;
}
.contenedor_article{
    border: 1px solid black;
    border-radius: 10%;
    width: 284px;
    height: 350px;
    margin-left: 25px;
    margin-top: 20px;
}
.contenedor_article img{
    position: absolute;
    width: 210px;
    margin-left: 40px;
    margin-top: 12px;
    border: 1px solid rgba(114, 122, 114, 0.589);
}
.contenedor_article2{
    border: 1px solid black;
    width: 284px;
    height: 350px;
    margin-left: 25px;
    margin-top: 20px;
    border-radius: 10%;
}
.contenedor_article2 img{
    position: absolute;
    width: 210px;
    margin-left: 40px;
    margin-top: 12px;
    border: 1px solid rgba(114, 122, 114, 0.589);
}
.cont_price{
    background: rgba(54, 53, 53, 0.247);
    border-radius: 10%;
    height: 120px;
    margin-top: 80%;
}
